doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='heading-container')
      h1= title
      div(class='heading-items')
        a(href="./inventory")="Home"
        a(href="./inventory/items")="Items"
        a(href="./inventory/categories")="Categories"
    block content
